[submodule "alx-higher_level_programming/alx-low_level_programming"]
	path = alx-higher_level_programming/alx-low_level_programming
	url = https://github.com/chukwuemekaumesi/alx-low_level_programming.git
